<template>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="/">
                    Crud App
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Nav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">

                            <li class="nav-item dropdown">
                                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ logged_user }}
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <!-- <a class="dropdown-item" href="/logout"
                                       onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                                        Logout
                                    </a> -->
                                    <!-- <b-icon icon="box-arrow-right" font-scale="1.2"></b-icon> -->
                                    <button class="dropdown-item text-danger" @click="logout()"> Logout </button>
                                </div>
                            </li>
                        <!-- @endguest -->
                    </ul>
                </div>
            </div>
        </nav>
</template>
<script>
  export default {
    data() {
      return {
        logged_user:null,
      }
    },
    methods: {
        setUserName(){
            this.logged_user= JSON.parse(localStorage.getItem('user')).name;
            // console.log(this.logged_user)
        }
    },
    mounted() {
        Fire.$emit('header_nav');
        this.setUserName()
        Fire.$on("set_user_name", () => {
            this.setUserName();
        });
    }
  }
</script>
