
<template>
<div>
    <admin_nav v-if="token"></admin_nav>
    <before_login_nav  v-else></before_login_nav>


         <div class="content-wrapper">
                    <section class="content">
                        <div class="container-fluid">
                            <router-view/>
                        </div>
                    </section>
            </div>
</div>
</template>

<script>
import before_login_nav from './login_nav.vue'
import admin_nav from './admin_nav.vue'
export default {
name:'app',
components:{
before_login_nav,
admin_nav
},
data(){
    return{
        user:null,
        loading:false,
        initiated:false,
        token: null,
    }
},
methods:{
    token_set(){
            this.token=this.getWithExpiry('token')
            if (this.token==null) {
                this.$router.push({name:'login'}).catch(()=>{});
            }
            // console.log(this.token)
    }
},
created(){
    this.token_set()
    Fire.$on("header_nav", () => {
            this.token_set();
        });
}
}
</script>
