<template>

<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title">Manage Users</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">User List</h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <table id="user_list_tbl" class="table mb-0">
                        <thead class="bg-light">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Date of birth</th>
                            </tr>
                            </thead>
                        <tbody>
                            <tr v-for="(user, i) in users" :key="i">
                                <td>{{(i+1)}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{ user.created_at | moment("MMM DD, YYYY") }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</template>
<script>
export default {
  data() {

    return {
        logged_user:null,
        users: {},
    };
  },
  beforeCreate: function() {
    //   console.log("OK")
    Fire.$emit('header_nav');
        // this.getWithExpiry('token')
    },
  methods: {
    loadUserData() {
      axios.get("api/users")
        .then(({ data }) => {
            // console.log(data)
          this.users = data.users;
        })
        .catch(() => {
          console.log("Error...");
        });
    },
  },

  created() {
    this.loadUserData();
    Fire.$emit('set_user_name');
  },
  mounted() {
  }
};
</script>
