<template>
   <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Login</div>

                <div class="card-body">
                    <!-- <form method="POST" action="login"> -->
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" v-model="form.email" type="email" class="form-control" name="email" value="" required autocomplete="email" autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input id="password" v-model="form.password" type="password" class="form-control" name="password" required autocomplete="current-password">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 offset-md-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="remember" id="remember">

                                    <label class="form-check-label" for="remember">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary" @click="login()">
                                    Login
                                </button>
                                    <a class="btn btn-link" href="">
                                       Forgot Your Password
                                    </a>
                            </div>
                        </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
  export default {
    data() {
      return {
          form:{
            email: null,
            password: null,
          },
        has_error: false
      }
    },
    methods: {
      login() {
          axios.post('api/auth/login',{email:this.form.email,password:this.form.password}).then(({data})=>{
            //   console.log(data)
            this.setWithExpiry("token", data.access_token, data.expires_in) //3600 sec or 1 hour
            // this.setWithExpiry("token", data.access_token, data.payload.exp) //3600 sec or 1 hour
            localStorage.setItem("user", JSON.stringify(data.user))
            axios.defaults.headers.common['Authorization'] =`Bearer ${this.getWithExpiry("token")}` ;
            this.$router.push({ name: 'dashboard'})
            Fire.$emit('header_nav');
          })
          .catch(() => {
                this.alert_icon='error',
                this.alert_title='Ohh!!',
                this.alert_text='User name or password missmatch'
                this.sweet_advance_alert();
            });
      }
    },
    mounted() {
      //
    },
    created(){
        Fire.$emit('header_nav');
    }
  }
</script>
