<template>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="/">
                    Crud App
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Nav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>
                    <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <router-link :to="{name:'login'}" class="nav-link">
                                    <p> Login</p>
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{name:'register'}" class="nav-link">
                                    <p> Register</p>
                                    </router-link>
                                </li>
                    </ul>
                </div>
            </div>
        </nav>
</template>
