<template>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Register</div>

                <div class="card-body">
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                            <div class="col-md-6">
                                <input id="name" v-model="form.name" type="text" class="form-control" name="name" autocomplete="name" autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" v-model="form.email" type="email" class="form-control" name="email" autocomplete="email">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input id="password" v-model="form.password" type="password" class="form-control" name="password" autocomplete="new-password">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                            <div class="col-md-6">
                                <input id="password-confirm" v-model="form.password_confirmation" type="password" class="form-control" name="password_confirmation" autocomplete="new-password">
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary" @click="register()">
                                    Register
                                </button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
  export default {
    data() {
      return {
          form:{
              name:null,
            email: null,
            password: null,
            password_confirmation: null,
          },
        has_error: false
      }
    },
    methods: {
      register() {
          axios.post('api/auth/register',this.form).then(({data})=>{
            //   console.log(data)
              if (data.status==1) {
                    this.alert_icon='success',
                    this.alert_title='Created!',
                    this.alert_text='User Created'
                    this.sweet_normal_alert()
                    this.$router.push({name:'login'})
              }
            Fire.$emit('header_nav');
          })
          .catch(() => {
                this.alert_icon='error',
                this.alert_title='Ohh!!',
                this.alert_text='User name or password missmatch'
                this.sweet_advance_alert();
            });
      }
    },
    mounted() {
      //
    },
    created(){
        // this.logoSrc = '../public/dashboard/logo/cropped-Jacos-main.png';
        // Fire.$emit('header_nav');
    }
  }
</script>
